table th {
	background-color: rgba(0, 0, 0, 0.15);
}
table tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

a {
	color: #1f8dd6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#menu a {
	text-decoration: none!important;
}

.responsive-table {
    overflow: auto
}

@media screen and (max-width: 400px) {
    .header h1 {
        font-size: 2.7em;
    }
}
